.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 68vh;
  /* adjust the height to your liking */
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #495057;
}


.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: #fcffe9b8;
}
/*
.btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  background-color: #0069d984;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}*/
/*
.btn:hover {
  background-color: #0069d9c5;
}
*/
.btn:active {
  background-color: #0053ba;
}

/* previous styles omitted for brevity */

.google-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.google-signin p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #6c757d;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.fab.fa-google {
  margin-right: 0.5rem;
}

.Register {
  margin-top: 10px;
  background-color: #aeeae1;
  border-color: #c7eae698;
}
