
  
  form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  form button[type="submit"]:focus {
    outline: none;
  }
  
  form button[type="submit"]:active {
    transform: translateY(1px);
    box-shadow: none;
  }
  
  form p {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #555;
  }
  
  form a {
    color: #007bff;
    text-decoration: none;
  }

  .Login {
    margin-top: 10px;
    background-color: #aeeae1;
    border-color: #c7eae698;
  }
  
  @media screen and (max-width: 600px) {
    form {
      padding: 20px;
    }
    form h2 {
      font-size: 1.5rem;
    }
    form input {
      font-size: 1rem;
      padding: 10px;
    }
    form button[type="submit"] {
      font-size: 1.1rem;
      padding: 12px;
    }
  }
