.cart-item {
    display: flex;
    margin-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cart-item-name {
    margin: 0;
    font-weight: bold;
  }
  
  .cart-item-price {
    margin: 0;
  }
  
  .cart-item-quantity {
    margin: 0;
  }
  