.shipping-form-container {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.shipping-form-container h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #474747;
  text-align: center;
}

.info-form {
  box-shadow: none;
  border: none;
  width: 700px;
  margin-left: 20px;
}

.form-group {
  align-items: center;
  width: 600px;
  margin-bottom: 30px;
}

.form-group label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #666;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: #e4e4e4;
  transition: background-color 0.3s ease;
}

.form-group input[type="text"]:focus {
  background-color: #e1e1e1;
}

.sub-bt {
  display: block;
  width: 200px;
  height: 60px;
  margin-top: 40px;
  margin-left: 200px;
  background-color: #60d768;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sub-bt:hover {
  background-color: #4fab55;
}

button p {
  color: rgb(238, 238, 238);
  font-weight: bold;
  padding: 2px;
  align-self: center;
}

#howtopay {
  width: 750px;
  height: auto;
  margin: 0;
  margin-top: 20px;
}
